# Exclude macOS system files
.DS_Store

# Exclude dataset folder
Dataset/

# Exclude specific files
IndyGo On-Time Performance Dashboard Description.docx
E538-E438-ClientProject - IndyGo On-Time Performance - Final Project Results.pdf
E583_E438-InformationVisualization-ClientProject-Final Project Results.pptx
IndyGo On-Time Performance PowerBI Dashboard.pbix